@model IEnumerable<MFramework.Services.IdentityAuth.Models.ApplicationRole>

<table class="table table-hover table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-right">
                @Ajax.RawActionLink("<i class='fa fa-edit'></i>", "EditRole", "Admin", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalsection_editrole" }, new { @class = "btn btn-warning btn-sm" })

                @Ajax.RawActionLink("<i class='fa fa-info-circle'></i>", "DetailsRole", "Admin", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalsection_detailsrole" }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }

</table>